version: "3.7"

services:
  nginx:
    image: nginx
    ports:
      - 81:80
      - 444:443
    deploy:
      placement:
        constraints:
          - node.labels.tipo == teste
      resources:
        limits:
          cpus: '0.50'
          memory: 128M
     configs:
      - source: nginx_config
        target: /etc/nginx/nginx.conf
configs:
  nginx_config:
    file: config/nginx.conf
